@font-face {
    font-family:nort ;
    src: url(/font/North\ Avellion\ DEMO.ttf);
}

@font-face {
    font-family:nathan ;
    src: url(/font/Nathan\ TTF.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(img/vitor-monthay---mnzh75wZ4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 20%;
    letter-spacing: 2px;
    color: aliceblue;
    font-family: nathan;
    font-size: 80px;
}


.isi {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}
p {
    position: relative;
    margin-top: 50%;   

}