@font-face {
    font-family:nort ;
    src: url(/font/North\ Avellion\ DEMO.ttf);
}

@font-face {
    font-family:nathan ;
    src: url(/font/Nathan\ TTF.ttf);
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 3px 9%;
    background: rgba(0, 0, 0, 0.418);
}

.logo {
    width: 80px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-family: nort;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
} 

li a:hover {
    background: #000000;
    transition: 0.5s;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(49, 40, 113);
}

.btn-bt {
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 25px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: white;
}

button:hover {
    background: rgb(61, 61, 169);
    transition: 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}